section.headIntro .container {
    min-height: 40vh;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.content {
    margin-bottom: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.title {
    padding-top: 30px;
}

.headIntro .page-header {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.headIntro .page-header img{
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

section:not(.headIntro){
    padding-bottom: 30px;
}

section.video {
    background-color: rgb(255, 179, 0);
}

.nieuws {
    background-color: rgb(204, 0, 41);
    color: white;
    margin-bottom: 30px;
}

.nieuws h2 {
    font-size: 50px;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 30px;
}

.deck-cards .card {
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
}

.card-img-overlay {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}

.card-img-overlay:hover {
    background-color: #000;
    opacity: 0.85;
    cursor: pointer;
}

.card-overlay-text {
    position: absolute;
    max-height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 1.25rem;
}

section.contact h2{
    font-size: 30px;
}

.contact input, .contact label, .login label, .login input {
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: left;
}

.big_form {
    box-shadow: none;
    background-color: white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 668px;
    position: relative;
    height: 48px;
    border: none;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-bottom: 2px solid #666;
    border-image: none 100%/1/0 stretch;
    border-radius: 0;
    font-family: Exo BNNVARA,Verdana,sans-serif;
    color: #101010;
    font-size: 16px;
    text-indent: 17px;
    padding: 3px;
}

textarea.big_form  {
    background-color: rgb(219, 219, 219);
    border: 1px solid rgb(124, 124, 124);
    border-bottom: 2px solid #666;
    height: 200px;
    text-indent: 5px;
    margin-top: 2%;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
}

.contact button {
    align-self: center;
    background: transparent;
    padding: .5rem 1rem;
    margin-bottom: 1.2em;
    transition: all .5s ease;
    color: #41403e;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-color: #41403e;
}

section.nieuwsOverzicht {
    margin-bottom: 0px;
}

.vich-image img{
    max-height:200px;
    max-width:200px;
}

/*/foto banner*/
.fotocontainer {
    width: 100%;
    overflow: hidden;
    background: white;
    margin: 20px 0;
}

.photobanner, .photobanner2 {
    height: 55px;
    width: 4600px;
    /* bepalend voor aantal logog's dat is te zien*/
    margin-bottom: 5px;
    font-size: 0;
}

.photobanner img, .photobanner2 img {
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 150px;
    max-height: 50px;
}

.photobanner img  {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.photobanner img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}

@keyframes bannermove{
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-moz-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-webkit-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-ms-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-o-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}
