@import '~bootstrap';
@import '~font-awesome';
* {
    margin:0;
    padding:0;
    font-family:Lato,Helvetica Neue,Arial,sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    max-width: 100vw;
}

.wrapper {
    min-height: 100%;
}

.content {
    padding-top: 60px;
    padding-bottom: 50px;
}

footer {
    overflow: hidden;
    height: 50px;
    margin-top: -50px; 
    line-height: 50px;
    vertical-align: middle;
}

body {
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.indexTableSmall tr td div {
    height: 100px;
    max-width: 400px;
    overflow: hidden;
}

.indexTableSmall tr td div.beheer img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.indexTableSmall tr td div.beheer {
    max-width: 400px;
    max-height: 100px;
}

.indexTable tr td div{
    height: 200px;
    max-width: 400px;
    overflow: hidden;
}

.indexTable tr td div.beheer img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.indexTable tr td div.beheer {
    max-width: 400px;
    max-height: 200px;
}

.fakeLink:hover {
    cursor: pointer;
}

.fakeLink {
    color: blue
}

footer {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

#privacyVerklaringPopUp {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#privacyVerklaringPopUp .popuptext{
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -160px;
}

#privacyVerklaringPopUp .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  #privacyVerklaringPopUp .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

section{
    padding-bottom:30px;
}

.container{
    flex-wrap: wrap;
}

.page-header {
    margin-top: 30px;
    padding: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.page-header >img{
    width: 80%; 
    position: relative; 
    left: 10%; 
}

.video{
    background-color: #FFB300;
}
.video h2 {
    color: black;
    font-size: 58px;
    font-weight: 700;
    padding-bottom:30px;
}
.title{
    padding-top: 30px;
}

.intro{
    color:black;
    margin-bottom:30px;
}
.intro h2{
    color:black;
    font-size:40px;
    font-weight:700;
}
.intro >div>div>div>p{
     margin:0 20% 0 20%;
     width:60%
 }
.contact{
    background-color:RGB(246,246,246);
}
.contact h2, .nieuwsOverzicht h2{
     color:black;
     font-weight:700;
     font-size:30px;
 }
.nieuws h2{
    margin-bottom:30px;
}
.nieuws .card-deck, .nieuws .card
{
    height: 220px;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.nieuwsOverzicht h2{
    font-size:50px;
}
.nieuwsberichten h5{
    color:black;
    padding:10px 0;
    font-size: 1em;
    font-weight: 700;
}
.nieuwsberichten .card{
    border: 0;
    color:darkgrey;
    border-radius: 0.1875rem;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    min-height: 500px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
}

.nieuwsberichten .card .card-body{
    height: 300px;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 1.25rem;
}

.nieuwsberichten button{
    margin: 0 auto 10px 100px;
}
.nieuwsberichten a button{
    background-color:white;
}
section.nieuwsOverzicht{
    background-color: rgb(255, 179, 0);
    margin-bottom: 30px;
}
.nieuws container{
    margin-bottom: 30px;
}

.card {
    justify-content: center;
}

.card.add-card{
    background-color: rgba(150, 150, 150, 0.842);
    font-size: 3rem;
    color: black;
    justify-content: center;
    width: 100%;
    display: table;
}

.card.add-card:hover{
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.8);
    background-color: rgba(134, 134, 134, 0.842);
    /* background-color: rgba(73, 73, 73, 0.67); */
    cursor: pointer;
}

.card.add-card .card-body{
    display: table-cell;
    vertical-align: middle;
}

.card.add-card i{
    text-align: center;
    width: 100%;
}

.card-img-overlay:hover {
    cursor: pointer;
    opacity: 0.75;
}

.cardimg{
    height:220px;
    overflow: -moz-hidden-unscrollable;
}
.cardimg img{
    height:220px;
}
.contact label, .login label{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.big_form{
    box-shadow: none;
    background-color:white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 668px;
    position: relative;
    height: 48px;
    border: none;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-bottom: 2px solid #666;
    border-image: none 100%/1/0 stretch;
    border-radius: 0;
    font-family: Exo BNNVARA,Verdana,sans-serif;
    color: #101010;
    font-size: 16px;
    text-indent: 17px;
    padding: 3px;
}

.contact button, .nieuwsberichten button, .partners button, .login button ,button.btn{
    align-self: center;
    background: transparent;
    padding: .5rem 1rem;
    margin-bottom:1.2em;
    transition: all .5s ease;
    color: #41403e;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-color: #41403e;
}

button.linedthin{
    border: 2px solid #41403e;
}
.form-control{
    height:inherit;
}
.vich-image img{
    max-height:200px;
    max-width:200px;
}

.partners .card h5{
    text-align: center;
    font-weight: 700;
    margin-top:10px;
}

.contact label{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.contact input, .contact label, .login label, .login input{
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: left
}
.form_check{
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

button:hover{
    box-shadow: 0 9px 12px 0 rgba(0,0,0,0.24), 0 9px 12px 0 rgba(0,0,0,0.19);
}

.nieuws{
    background-color: rgb(204, 0, 41);
    color:white;
}
.nieuws h2{
    font-size:50px;
    font-weight: 700;
    padding-top:30px;
}
.partner{
    background-color: RGB(246,246,246);
}
.partner h2{
    color:black;
    font-weight:700;
    font-size:50px;
    padding-bottom: 30px;
 }

.partners .card{
    border: 0;
    border-radius: 0.1875rem;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.partners .card-body{
    text-align: center;
}
.partners .card-img{
    width: auto;
    height: 50px;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
/*/foto banner*/
.fotocontainer {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}

.photobanner, .photobanner2 {
    height: 55px;
    width: 4600px;
    /* bepalend voor aantal logog's dat is te zien*/
    margin-bottom: 5px;
    font-size: 0;
}

.photobanner img, .photobanner2 img {
    margin-bottom: 10px;
    margin-right: 5px;
    width: 150px;
    height:50px;
}

.photobanner img  {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.photobanner img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}

@keyframes bannermove{
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-moz-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-webkit-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-ms-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}

@-o-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -4250px;}
    /* bepalend voor aantal logog's dat is te zien*/
}


/*footer*/
footer{
    background-color:black;
    color:white;
    font-size:14px;
    font-weight:400;
}
footer a, footer a:hover{
    color:white;
    text-decoration: none;
}
/*
cards voor nieuws in index
*/
.card-img-overlay
{
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}

.card-title
{
     position: absolute;
     top: 45%;
     left: 0;
     width: 100%;
 }
.card-text a, .card-text a:hover{
    position: absolute;
    top: 75%;
    color:white;
}

.beheer img{
    max-width: 400px;

}
.beheer{
    max-width: 400px;
    overflow: hidden;
}
div.beheerPortal{
    border-top-color: #868686;
    border-top-style:solid;
    border-top-width: medium;

    }
