header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    opacity: 0.9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .45);
}

.navbar {
    height: 70px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbarExtra{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.collapse:not(.show){
    width: 100%;
}

.collapsing {
    width: 100%;
}

.collapsing ul {
    padding: 0 20px;
}

.collapse.show {
    width: 100%;
}

.collapse.show ul {
    padding: 0 20px;
}