{# templates/emails/registration.html.twig #}

<h3>EWA Haaglanden contactformulier</h3>

<p>Beste {{ name }}!</p>
<p>Hartelijk dank voor uw bericht. </p>

<p>U krijgt zo snel mogelijk een reactie</p>

{# Makes an absolute URL to the /images/logo.png file #}
<br><br>
<img src="{{ email.image('@images/EWAHaaglanden_logo.jpg') }}" alt="Logo" style="width: 300px;">
